{% extends "base_queue.html" %}
{% set color='gold' %}
{% set subtitle='Admin' %}
{% block main %}
<section class="event">
  <div class="col-md-6 event-text">
    {% block text %}
    {% endblock %}
  </div>
  {% block decor %}
  {% endblock %}
  {% if not hide_event_nav %}
  <nav class="event-nav">
    <ul>
      {% for link in (
          (the_url('admin.home'), 'Home'),
          (the_url('admin.help'), 'Help'),
          (the_url('admin.settings'), 'Settings')) %}
      <li><a class="{% if link[1] == panel %}s{% endif %}" href="{% if link[1] != panel %}{{ link[0] }}{% else %}#{% endif %}">{{ link[1] }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</section>
{% block panel %}
{% endblock %}
{% endblock %}
