{% extends "base_queue.html" %}
{% block main %}
<main class="sp-main">
  <section class="sp-module-list module">
    <p class="sf-back"><a href="{{ the_url('queue.home') }}"><span class="sf-back-arr">&larr;</span> back</a></p>
    <h2>Select Request Type</h2>
    <p class="sp-byline">Select a request type to start processing immediately. Then, use "resolve and next" on every page, to continue resolving that type.</p>
    <div class="clear">
      <ul class="stp-list col-md-4">
    {% if categories | length == 0 %}
    <span class="button faded">No categories available</span>
    {% else %}
    <div class="select">
      <li class="select-default"><span>Select a Category <span class="arrow-down"></span></span></li>
      <ul class="options">
        {% for category, count in categories %}
        <li><a href="{{ the_url('admin.help_latest', location=location, category=category) }}" class="button color">{{ category }} ({{ count }})</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </section>
</main>
{% endblock %}
