{% extends "admin.html" %}
{% set title='%s | %s %s' % (app_name, 'Helping', inquiry.name) %}
{% set no_mobile_action=True %}
{% set panel='Help' %}
{% block text %}
    <p class="event-byline">asked {{ inquiry.created_at.humanize() }}</p>
    <h1 class="event-title">{{ inquiry.name }}</h1>
    <p class="event-copy">Category: {{ inquiry.category }}</p>
{% endblock %}
{% block decor %}
<div class="col-md-6 event-decor">
  <form method="post" action="{{ current_url() }}">
    <input type="hidden" name="load_next" value="y">
    <input type="hidden" name="status" value="resolved">
    <input type="submit" class="button" value="resolve and next">
  </form>
  <form method="post" action="{{ current_url() }}">
    <input type="hidden" name="load_next" value="n">
    <input type="hidden" name="status" value="resolved">
    <input type="submit" class="button" value="resolve">
  </form>
  {% if delayable %}
  <form method="post" action="{{ current_url() }}">
    <input type="hidden" name="load_next" value="y">
    <input type="hidden" name="status" value="unresolved">
    <input type="submit" class="button" value="delay and next">
  </form>
  <form method="post" action="{{ current_url() }}">
    <input type="hidden" name="load_next" value="n">
    <input type="hidden" name="status" value="unresolved">
    <input type="submit" class="button" value="delay">
  </form>
  {% endif %}
</div>
{% endblock %}
{% block panel %}
<section class="queue">
  <h2 class="queue-title">Request History</h2>
  <table>
    <tr><th>Queue Time</th><th class="hidden-xs">Help Time</th><th>Resolution Time</th><th>Staff</th></tr>
    {% for inquiry in inquiries %}
    <tr>
      <td>{{ inquiry.created_at.humanize() }}</td>
      <td class="hidden-xs">
        {% if inquiry.resolution %}
        {{ inquiry.resolution.created_at.humanize() }}
        {% else %}
        n/a
        {% endif %}
      </td>
      <td>
        {% if inquiry.resolution and inquiry.resolution.resolved_at %}
        {{ inquiry.resolution.resolved_at.humanize() }}
        {% else %}
        n/a
        {% endif %}
      </td>
      <td>
        {% if inquiry.resolution %}
        {{ inquiry.resolution.staff.name }}
        {% else %}
        n/a
        {% endif %}
      </td>
    {% endfor %}
  </table>
</section>
{% endblock %}
