{% extends "admin.html" %}
{% set title='%s | %s' % (app_name, 'Admin') %}
{% block modules %}
<section class="sp-module-banner module">
  <p class="sp-subtitle">Estimated Wait Time</p>
  <h1 class="sp-title">{{ ttr }}</h1>
  <p class="sp-byline">{{ inquiries | length }} requests enqueued</p>
  {% if current_inquiry %}
  <a class="button" href="{{ the_url('admin.help_inquiry', id=current_inquiry.id) }}">Resume</a>
  {% elif locations_disabled %}
    {% if not latest_inquiry %}
    <p class="button faded">No pending requests</p>
    {% else %}
    <a href="{{ the_url('admin.help_latest') }}" class="button">Start Helping</a>
    {% endif %}
  {% else %}
    {% if locations | length != 0 %}
  <div class="select">
    <li class="select-default"><span>Help a Location <span class="arrow-down"></span></span></li>
    <ul class="options">
      {% for location in locations %}
      <li><a href="{{ the_url('admin.help_latest', location=location[0]) }}">{{ location[0] }} ({{ location[1] }})</a></li>
      {% endfor %}
    </ul>
  </div>
    {% else %}
    <p class="button faded">No pending requests</p>
    {% endif %}
  {% endif %}
</section>
{% endblock %}
