{% extends "admin.html" %}
{% set title='%s | %s' % (app_name, 'Admin') %}
{% set panel='Home' %}
{% block text %}
<p class="event-byline">Admin</p>
<h1 class="event-title">Administration Panel</h1>
<p class="event-copy">Want to get started clearing the queue? Click 'help'.</p>
{% endblock %}
{% block panel %}
<section class="queue">
  <div class="setting">
    <h2>Clear</h2>
    <p>If everyone has left and the day has ended, use this button to clear the queue.</p>
    <a href="{{ the_url('admin.clear') }}" class="button color">Clear Inquiries</a>
  </div>
</section>
{% endblock %}
