{% extends "public.html" %}
{% block modules %}
<section class="sp-module-banner module">
  <table>
    <tbody>
    <tr><th>#</th><th>Name</th><th class="hidden-xs hidden-sm">Closed At</th>{% if q_inquiry_types %}<th class="hidden-xs">Category</th>{% endif %}<th class="hidden-xs">Staff</th><th class="hidden-xs">Assignment</th><th class="hidden-sm hidden-md hidden-lg">Assign.</td><th class="hidden-xs hidden-sm">Problem</td><th></th></tr>
  {% set i = 0 %}
  {% if inquiries | length > 0 %}
    {% for inquiry in inquiries %}
    {% set i = i + 1 %}
    <tr>
      <td>{{ i }}</td>
      <td>{{ inquiry.to_local('created_at').name.split(' ')[0] }}</td>
      <td class="hidden-xs hidden-sm">{% if inquiry.resolution and inquiry.resolution.resolved_at %}{{ inquiry.resolution.resolved_at.humanize() }}{% else %}n/a{% endif %}</td>
      {% if q_inquiry_types %}
      <td class="hidden-xs">{{ inquiry.category }}</td>
      {% endif %}
      <td class="hidden-xs">{% if inquiry.resolution %}{{ inquiry.resolution.staff.name }}{% else %}n/a{% endif %}</td>
      <td>{{ inquiry.assignment }}</td>
      <td class="hidden-xs hidden-sm">{{ inquiry.problem }}</td>
      <td><a href="{{ the_url('queue.requeue', inquiry_id=inquiry.id) }}" class="small-button">Requeue</a></td>
    </tr>
    {% endfor %}
  {% endif %}
  </table>
  {% if inquiries | length == 0 %}
    <p class="queue-note col-xs-12">{{ empty }}</p>
  {% endif %}
  </div>
</section>
{% endblock %}
