{% extends "public.html" %}
{% block panel %}
<section class="queue">
  <p class="right ttr hidden-lg hidden-md hidden-sm col-xs-12">Estimated wait: {{ ttr }}</p>
  <h2 class="queue-title col-md-6 hidden-xs">{{ panel }} {% if inquiries | length != 0 %}({{ inquiries | length }}){% endif %}</h2>
  <div class="col-md-12 queue-content">
  <table>
    <tr><th class="hidden-xs">Name</th><th class="hidden-xs">Assignment</th><th class="hidden-sm hidden-md hidden-lg">Assign.</th><th class="hidden-xs">Problem</th>{% if app_inquiry_types %}<th>Category</th>{% endif %}<th class="hidden-xs">Queue Time</th><th class="hidden-sm hidden-md hidden-lg">Wait</th></tr>
  {% if inquiries | length > 0 %}
    {% for inquiry in inquiries %}
    <tr>
      <td class="hidden-xs">{{ inquiry.to_local('created_at').name.split(' ')[0] }}</td>
      <td>{{ inquiry.assignment }}</td>
      <td class="hidden-xs">{{ inquiry.problem }}</td>
      {% if app_inquiry_types %}<td>{{ inquiry.category }}</td>{% endif %}
      <td class="hidden-xs">{{ inquiry.created_at.humanize() }}</td>
      <td class="hidden-sm hidden-md hidden-lg">{{ inquiry.created_at.humanize()[:-4] }}</td>
    </tr>
    {% endfor %}
  {% endif %}
  </table>
  {% if inquiries | length == 0 %}
    <p class="queue-note col-xs-12">{{ empty }}</p>
  {% endif %}
  </div>
</section>
{% endblock %}
