{% extends "base.html" %}
{% set title='%s | %s' % (app_name, 'Event') %}
{% set title="%s Event" % event.name %}
{% block main %}
<section class="event">
  <div class="col-md-6 event-text">
    <p class="event-byline"><a href="{{ url_for('admin.home') }}">Admin</a> &raquo; {{ event.name }}</p>
    <h1 class="event-title">{{ event.name }}</h1>
    <p class="event-copy">{{ event.start }} - {{ event.end }}</p>
  </div>
  <div class="col-md-6 event-decor">
    <a href="{{ url_for('admin.event_edit', id=event.id) }}" class="button">Edit Event</a>
  </div>
  <!-- <nav class="event-nav">
    <ul>
      <li><a class="s" href="#">All Problems</a></li>
    </ul>
  </nav> -->
</section>
<section class="queue">
</section>
{% endblock %}
