{% extends "admin.html" %}
{% set title='%s | %s' % (app_name, 'Events') %}
{% set panel='Events' %}
{% block text %}
<p class="event-byline"><a href="{{ url_for('admin.home') }}">Admin</a> &raquo; Events</p>
<h1 class="event-title">Events</h1>
<p class="event-copy">Here are all of the events that your queue has available.</p>
{% endblock %}
{% block decor %}
<a href="{{ url_for('admin.clear') }}" class="button">Clear Inquiries</a>
<a href="{{ url_for('admin.help') }}" class="button">Help</a>
{% endblock %}
{% block panel %}
<section class="queue">
  <h2 class="queue-title">Events</h2>
  {% if events | length == 0 %}
    <p class="queue-note">No events! <a href="{{ url_for('admin.event_create') }}">Create an event.</a></p>
  {% else %}
  <a href="{{ url_for('admin.event_create') }}" class="button color">Create Assignment</a>
  <table>
    <tr><th>Name</th><th>Start</th><th>End</th><th>Location</th><th>Edit</th></tr>
    {% for event in events %}
    <tr>
      <td><a href="{{ url_for('admin.event_detail', id=event.id) }}">{{ event.name }}</a></td>
      <td>{{ event.start.humanize() }}</td>
      <td>{{ event.end.humanize() }}</td>
      <td>{{ event.location }}</td>
      <td><a href="{{ url_for('admin.event_edit', id=event.id) }}" class="button color xs">edit</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</section>
{% endblock %}
