{% extends "admin.html" %}
{% set title='%s | %s' % (app_name, 'Help') %}
{% set panel='Help' %}
{% block text %}
<p class="event-byline"><a href="{{ url_for('admin.home') }}">Admin</a> &raquo; Help</p>
<h1 class="event-title">Help</h1>
<p class="event-copy">Select your current location below, to start helping.</p>
{% endblock %}
{% block decor %}
<a href="{{ url_for('admin.help') }}" class="button">Help</a>
{% endblock %}
{% block panel %}
<section class="queue">
  <div class="setting">
    <h2>Active Locations</h2>
    <p>Choose one to start.</p>
    {% for location in app_locations.split(',') %}
      <a class="button color" href="{{ url_for('admin.help_latest', location=location) }}">{{ location }}</a>
    {% endfor %}
  </div>
</section>
{% endblock %}
