{% extends "admin.html" %}
{% set title='%s | %s %s' % (app_name, 'Helping', inquiry.name) %}
{% set no_mobile_action=True %}
{% set panel='Help' %}
{% block text %}
    <p class="event-byline">asked {{ inquiry.created_at.humanize() }}</p>
    <h1 class="event-title">{{ inquiry.name }}</h1>
    <p class="event-copy">Category: {{ inquiry.category }}</p>
{% endblock %}
{% block decor %}
<div class="col-md-6 event-decor">
  <form method="post">
    <input type="hidden" name="status" value="resolving">
    <input type="submit" class="button" value="resolve">
  </form>
  <form method="post">
    <input type="hidden" name="status" value="unresolved">
    <input type="submit" class="button" value="delay">
  </form>
</div>
{% endblock %}
