{% extends "admin.html" %}
{% set title='%s | %s' % (app_name, 'Settings') %}
{% set panel='Settings' %}
{% block text %}
    <p class="event-byline"><a href="{{ url_for('admin.home') }}">Admin</a> &raquo; Settings</p>
    <h1 class="event-title">Settings</h1>
    <p class="event-copy">Here are the app's basic details and advanced configurations.</p>
{% endblock %}
{% block decor %}
    <a href="{{ url_for('admin.help') }}" class="button">Help</a>
{% endblock %}
{% block panel %}
<section class="queue">
  {% for setting in settings %}
  <div class="setting col-md-12">
    <h2>{{ setting.name }}</h2>
    <p>{{ setting.description | safe }}{% if setting.toggable %}<br>Enabled: <b>{{ setting.enabled }}</b>{% endif %}</p>
    <form method="POST">
      <input type="hidden" value="{{ setting.name }}" name="name">
      {% if setting.enabled %}
        {% if setting.input_type != 'None' %}
          {% if setting.input_type == 'textarea' %}
      <textarea name="value">
{{ setting.value }}</textarea>
          {% else %}
      <input type="{{ setting.input_type }}" value="{{ setting.value }}" name="value">
          {% endif %}
      <input type="submit" class="button sm color" value="Save">
        {% endif %}
      {% else %}
      {% if setting.enable_description %}
      <p><b>Why enable?</b> {{ setting.enable_description }}</p>
      {% endif %}
      <input type="hidden" value="1" name="enabled">
      <input type="submit" class="button sm color" value="Enable">
      {% endif %}
    </form>
    {% if setting.enabled and setting.toggable %}
    <form method="POST">
      <input type="hidden" value="{{ setting.name }}" name="name">
      <input type="hidden" value="0" name="enabled">
      <input type="submit" class="button sm color" value="Disable">
    </form>
    {% endif %}
  </div>
  {% endfor %}
</section>
{% endblock %}
