* {
  position:relative;
  margin:0;
  padding:0;
  font-family:'Lato';
}
a, b, i {
  float:none;
}
body .right {
  float:right;
}
html, body {
  height:100%;
}
html, body,section, main {
  width:100%;
  float:left;
}
.refresh {
  transition:         0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition:    0.2s ease;
  -o-transition:      0.2s ease;
}
header {
  background-color:#a57602;
  width:100%;
  z-index:20;
  position:fixed;
  top:0;
  left:0;
}
  .blue header {
    background-color:#1e7896;
  }
  header a:hover {
    text-decoration:none;
  }
  a:hover .name {
    color:#FFF;
  }
  header .name {
    margin:0;
    padding:1em 1.5em;
    color:rgba(255,255,255,0.75);
    font-size:1.5em;
    margin: 0.15em 0;
  }
  .name span {
    font-weight:300;
    float:none;
    margin-left:0.25em;
  }
  .header-action {
    font-weight:400;
    font-size:1em;
    text-transform:uppercase;
    padding:2em;
    color:#FFF;
    color:rgba(255,255,255,0.5);
    display:inline-block;
    line-height:1em;
    float:right;
    border-bottom:0.25em solid transparent;
  }
    .header-action:hover {
      color:#FFF;
      text-decoration:none;
    }
    .header-action.s {
      color:#FFF;
      border-bottom:0.25em solid #FFF;
    }
  .header-text {
    font-size:1em;
    line-height:1em;
    padding:2em;
    float:left;
    margin:0;
    color:#FFF;
  }
    .header-subtext {
      position:absolute;
      top:50%;
      left:0;
      margin-top:0.5em;
      text-transform:capitalize;
      width:100%;
      text-align:center;
      font-size:0.8em;
    }
  .user-profile {
    width:2.5em;
    height:2.5em;
    border-radius:50%;
    display:block;
    background-color:rgba(0,0,0,0.15);
    line-height:2.5em;
    float:right;
    margin:-0.75em 0 -0.75em 0;
    margin-left:0.5em;
  }
main {
  width:100%;
  z-index:10;
  box-sizing:border-box;
  padding:5em 0;
  background-color:#f6f6f6;
  min-height:100%;
}
  .refresh {
    color:rgba(255,255,255,0.5);
    position:absolute;
    left:100%;
    top:50%;
    margin-top:-0.5em;
    font-size:1em;
    opacity:0;
  }
    .refresh.dark {
      color:#999;
    }
    .event-refresh {
      margin-top:3em;
      top:100%;
      right:5em;
      left:auto;
    }
  .event {
    width:100%;
    background-color:#C90;
    box-shadow:0 0 1em 0 rgba(0,0,0,0.5);
    float:left;
    z-index:5;
  }
    .blue .event {
      background-color:#37a3c6;
    }
    .event-text {
      padding:3em 0 0 2em;
    }
    .event-decor {
      padding:1em 2em 3em 2em;
      float:left;
    }
      .event-decor .button {
        margin:0.5em;
      }
  .event-title,.event-copy {
    width:100%;
  }
  .event-byline {
    color:rgba(255,255,255,0.75);
  }
    .event-byline a {
      color:#FFF;
      border-bottom:1px dotted #FFF;
    }
    .event-byline a:hover {
      border-bottom:1px solid #FFF;
      text-decoration:none;
    }
  .event-title {
    font-weight:400;
    color:#FFF;
    margin:0;
  }
    .event-copy {
      margin:1em 0;
      font-size:1.2em;
      font-weight:300;
      color:#FFF;
    }
  .event-nav, .event-nav ul {
    width:100%;
    float:left;
  }
    .event-nav {
      padding:0.5em 0 0 2em;
    }
    .event-nav ul {
      margin:0;
    }
    .event-nav li {
      float:left;
      list-style:none;
    }
    .event-nav li a {
      padding:1em;
      text-transform:uppercase;
      color:rgba(255,255,255,0.5);
      display:inline-block;
      float:left;
      border-bottom:0.25em solid transparent;
      text-decoration:none;
    }
    .event-nav li a:hover,.event-nav li a.s {
      color:#FFF;
      border-bottom:0.25em solid #FFF;
    }
    .event-nav .button {
      margin-top:0.25em;
      float:right;
      margin-right:5em;
    }
    .nav-text {
      color:#FFF;
      padding:1em 3em;
      margin:0;
    }
  .button {
    border-radius:0.25em;
    padding:1em 3em;
    display:inline-block;
    float:left;
    text-transform:uppercase;
    color:rgba(255,255,255,0.5);
    background-color:rgba(0,0,0,0.15);
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none;
    box-shadow:none;
    border:none;
    outline:none;
  }
    .button:hover {
      background-color:rgba(0,0,0,0.25);
      text-decoration:none;
      color:#FFF;
    }
    .button.color {
      background-color:#C90;
      color:#FFF;
    }
      .blue .button.color {
        background-color:#37a3c6;
      }
    .button.color:hover {
      background-color:#a57602;
    }
      .blue .button.color:hover {
        background-color:#1e7896;
      }
    .module .button {
      width:100%;
      text-align:center;
      margin-top:2em;
    }
    .button.sm {
      font-size:0.85em;
    }
    .button.xs {
      font-size:0.6em;
    }
  .queue {
    width:100%;
    padding:1em 2em;
    z-index:1;
  }
    .event + .queue {
      margin-top:2em;
    }
    .queue + .queue {
      padding-top:0;
    }
    .queue-title {
      padding: 0 0 0.5em 0;
      margin:0;
      width:100%;
      float:left;
    }
    .queue-content {
      margin:0;
      padding:0;
    }
    .queue-list {
    }
    .queue-note {
      color:#666;
      border-radius:0.25em;
      background-color:#eee;
      padding:1em 2em;
      font-size:1.15em;
      float:left;
      clear:left;
    }
      table + .queue-note {
        margin-top:1em;
      }
    .queue table {
      width:100%;
    }
    .queue th {
      color:#ccc;
      border-bottom:0.2em solid #eee;
    }
    .queue td {
      border-bottom:1px solid #e3e3e3;
    }
    .queue td,.queue th {
      font-size:1.1em;
      padding:1em;
    }
    .queue p.ttr {
      font-size:0.9em;
      padding:0;
      color:#999;
      font-weight:700;
    }
  .sidebar {
    background-color:#C90;
    height:20em;
    z-index:2;
    width:100%;
    position:absolute;
    top:0;
    left:0;
  }
    .blue .sidebar {
      background-color:#37a3c6;
    }
    input[type="text"], input[type="password"], input[type="datetime"], select, textarea {
      width:100%;
      color:#999;
      border:none;
      border-bottom:0.25em solid #eee;
      outline:none;
      padding:0.25em;
      font-size:1.15em;
      margin:1em 0;
      background-color:transparent;
    }
      input[type="text"]:focus, input[type="password"]:focus, select:focus, input[type="datetime"]:focus, textarea:focus {
        color:#333;
        border-bottom:0.25em solid #C90;
      }
      .blue input[type="text"]:focus, .blue input[type="password"]:focus, select:focus, .blue input[type="datetime"]:focus, .blue textarea:focus {
        border-bottom:0.25em solid #37a3c6;
      }
    .content {
      z-index:3;
    }
    .content-copy {
      font-size:1.25em;
      line-height:2em;
      color:#666;
      margin-bottom:1em;
    }
    .content-title {
      padding:1em 0;
      text-align:center;
      width:100%;
      color:#FFF;
      font-weight:400;
    }
    .module {
      float:left;
      width:100%;
      margin-bottom:5em;
      background-color:#FFF;
      padding:3em 2em;
      box-shadow:0 0 0.5em 0 rgba(0,0,0,0.15);
    }
    .module h3 {
      margin:0;
      font-size:1.25em;
      text-transform:capitalize;
    }
    .module .content-copy {
      text-align:center;
    }
  .setting {
    margin:0 0 2em 0;
    padding:0;
    float:left;
  }
  .setting form + form .button,.setting .button + .button {
    margin-top: 0.5em;
  }
    .help.queue .button + .button {
      margin:0 0 0 0.5em;
    }
  .setting p,.queue p {
    font-size:1.2em;
    color:#666;
    font-weight:300;
  }
  .setting form {
    float:left;
    width:100%;
  }
footer.authorship {
  background-color:#eee;
  padding:1em 2em;
  margin-top: -3em;
  z-index:15;
  color:#999;
}
  footer p.author {
    margin:0;
    color:inherit;
    padding:0;
  }
  footer p a {
    color:inherit;
    border-bottom:1px dotted #999;
  }
  footer p a:hover {
    border-bottom:1px solid #999;
    text-decoration:none;
    color:inherit;
  }
.banner p {
  margin-bottom:0;
}
  .banner {
    padding:2em;
    color:#FFF;
    font-size:1.15em;
    font-weight:400;
    box-shadow:0 0 1em 0 rgba(0,0,0,0.3);
    z-index:15;
  }
  .blue .banner {
    background-color:#599bb1;
  }
  .gold .banner {
    background-color:#e0b42f;
  }
.mobile-action {
  position:fixed;
  bottom:5em;
  right:3em;
  text-transform:uppercase;
  color:#FFF;
  font-size:0.9em;
  font-weight:400;
  z-index:50;
  border-radius:0.25em;
  padding:1em 3em;
  box-shadow:0 0 0.25em 0 rgba(0,0,0,0.5);
}
  .mobile-action p {
    margin:0;
  }
  .blue .mobile-action {
    background-color:#37a3c6;
  }
    .blue .mobile-action:hover {
      background-color:#1e7896;
    }
  .gold .mobile-action {
    background-color:#C90;
  }
    .gold .mobile-action:hover {
      background-color:#e0b42f;
    }
  .ma-add {
    position:absolute;
    bottom:100%;
    left:100%;
    margin-left:-2em;
    margin-bottom:-2em;
    box-shadow:0 0 0.25em 0 rgba(0,0,0,0.3);
    width:4em;
    height:4em;
    text-align:center;
    border-radius:50%;
  }
    .gold .ma-add {
      background-color:#e0b42f;
    }
    .blue .ma-add {
      background-color:#1e7896;
    }
  .ma-add i {
    line-height: 2.85em;
    font-size:1.5em;
  }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header .name {
    padding:1em 2em;
  }
  .module {
    padding:5em;
  }
  .mobile-action {
    bottom:3em;
    right:5em;
  }
  .header-text {
    float:right;
  }
  footer.authorship {
    padding:2em 5em;
    margin-top:-5em;
  }
  header .left {
    display:block;
  }
  .queue {
    padding:3em 5em;
  }
  .event-text {
    padding:3em 0 0 5em;
  }
  .event-decor {
    padding: 1em 5em 3em 5em;
  }
  .event-nav {
    padding: 0.5em 0 0 5em;
  }
  .queue-title {
    width:50%;
  }
  .banner {
    padding:2em 5em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .event-decor {
    padding:3em 5em 2em 0;
  }
  .event-decor .button {
    float:right;
    margin-top:4vw;
  }
  .event-text {
    padding:3em 0 2em 5em;
  }
}

/* style Google's button */
header div.abcRioButton {
  width:auto !important;
  height:auto !important;
  outline:none;
  box-shadow:none;
  background-color:transparent;
  color:rgba(255,255,255,0.5);
  text-transform:uppercase;
  float:right;
  padding:1.3em;
}
  header div.abcRioButton:hover {
    color:#FFF;
    font-weight:700;
    box-shadow:none;
  }
