{% extends "base_public.html" %}
{% block main %}
<main class="sp-main">
  <section class="sp-module-banner module">
    <h2>Dashboard</h2>
    <p>The queues that you participate in are below. {% if current_user.is_authenticated %}Want to <a href="{{ the_url('dashboard.create_queue') }}">create a queue</a>?{% endif %}</p>
    <table>
      <tbody>
        <tr><th>Name</th><th class="hidden-xs">Description</th><th>Category</th></tr>
  {% if queues | length > 0 %}
    {% for queue in queues %}
        <tr>
          <td>
            <a href="{{ the_url('queue.home', queue_url=queue.url) }}">{{ queue.name }}</a>
          </td>
          <td class="hidden-xs">{{ queue.description[:20]}}</td>
          <td>{{ queue.category }}</td>
        </tr>
    {% endfor %}
  {% endif %}
      </tbody>
    </table>
  {% if queues | length == 0 %}
    <p class="stp-item">{{ empty }}</p>
  {% endif %}
  </section>
</main>
{% endblock %}
