{% extends "base.html" %}
{% set refresh=3000 %}
{% set color='blue' %}
{% set title='%s | %s' % (app_name, 'Queue') %}
{% set subtitle='Queue' %}
{% block main %}
<section class="event">
  {% if app_large_banner %}
  <div class="col-md-6 event-text">
    <p class="event-byline"><a href="{{ app_url}}">{{ app_url }}</a></p>
    <h1 class="event-title">{{ app_name }}</h1>
    <p class="event-copy">{{ app_description }}<br>Current Locations: {{ app_locations }}</p>
  </div>
  <div class="col-md-6 event-decor">
    {% if current_user.is_authenticated or not app_require_login %}
      {% if current_user.role != 'staff' %}
    <a class="button" href="{{ url_for('public.inquiry') }}">Request Help</a>
      {% elif current_user.role == 'staff' %}
    <a class="button" href="{{ url_for('admin.help') }}">Help</a>
      {% endif %}
    {% endif %}
  </div>
  {% endif %}
  <nav class="event-nav">
    <ul>
      {% for link in (
          (url_for('public.home'), 'Unresolved'),
          (url_for('public.resolving'), 'Resolving'),
          (url_for('public.staff'), 'Staff')) %}
      <li><a class="{% if link[1] == panel %}s{% endif %}" href="{% if link[1] != panel %}{{ link[0] }}{% else %}#{% endif %}">{{ link[1] }}</a></li>
      {% endfor %}
      <p class="right nav-text hidden-xs">Estimated wait: {{ ttr }}</p>
    </ul>
  </nav>
</section>
{% block panel %}
{% endblock %}
{% endblock %}
