{% extends "public.html" %}
{% block panel %}
<section class="queue">
  <h2 class="queue-title">{{ panel }}</h2>
  {% if inquiries | length == 0 %}
    <p class="queue-note">{{ empty }}</p>
  {% else %}
  <table>
    <tr><th>Name</th><th>Assignment</th><th>Problem</th><th>Queue Time</th></tr>
    {% for inquiry in inquiries %}
    <tr>
      <td>{{ inquiry.name }}</td>
      <td>{{ inquiry.assignment }}</td>
      <td>{{ inquiry.problem }}</td>
      <td>{{ inquiry.created_at.humanize() }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</section>
{% endblock %}
