{% extends "public.html" %}
{% block panel %}
<section class="queue">
  <p class="right hidden-lg hidden-md hidden-sm col-xs-12">Estimated wait: {{ ttr }}</p>
  <h2 class="queue-title col-md-6 hidden-xs">{{ panel }} {% if inquiries | length != 0 %}({{ inquiries | length }}){% endif %}</h2>
  <div class="col-md-12 queue-content">
  <table>
    <tr><th class="hidden-xs">Name</th><th>Assignment</th><th class="hidden-xs">Problem</th><th>Queue Time</th></tr>
  {% if inquiries | length > 0 %}
    {% for inquiry in inquiries %}
    <tr>
      <td class="hidden-xs">{{ inquiry.name.split(' ')[0] }}</td>
      <td>{{ inquiry.assignment }}</td>
      <td class="hidden-xs">{{ inquiry.problem }}</td>
      <td>{{ inquiry.created_at.humanize() }}</td>
    </tr>
    {% endfor %}
  {% endif %}
  </table>
  {% if inquiries | length == 0 %}
    <p class="queue-note col-xs-12">{{ empty }}</p>
  {% endif %}
  </div>
</section>
{% endblock %}
