{% extends "public.html" %}
{% block panel %}
<section class="queue">
  <p class="queue-note ttr">Estimated Time to Resolution: {{ ttr }}</p>
  <h2 class="queue-title col-md-6">{{ panel }} {% if inquiries | length != 0 %}({{ inquiries | length }}){% endif %}</h2>
  <div class="col-md-12 queue-content">
  {% if inquiries | length == 0 %}
    <p class="queue-note">{{ empty }}</p>
  {% else %}
  <table>
    <tr><th>Name</th><th>Assignment</th><th>Problem</th><th>Queue Time</th>{% if panel == 'Resolving' %}<th>Staff</th>{% endif %}</tr>
    {% for inquiry in inquiries %}
    <tr>
      <td>{{ inquiry.name }}</td>
      <td>{{ inquiry.assignment }}</td>
      <td>{{ inquiry.problem }}</td>
      <td>{{ inquiry.created_at.humanize() }}</td>
      {% if panel == 'Resolving' %}
      <td>{% for resolver in inquiry.resolvers %}{{ resolver.name }}, {% endfor %}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  </div>
</section>
{% endblock %}
