{% extends "public.html" %}
{% block panel %}
<section class="queue">
  <p class="queue-note ttr col-xs-12">Estimated Wait: {{ ttr }}</p>
  <h2 class="queue-title col-md-6 hidden-xs">Staff</h2>
  <div class="col-md-12 queue-content">
    <p>All staff members who have been active in the past 3 hours</p>
    <table>
      <tr><th>Name</th><th>Last Resolution</th><th>Location</th><th class="hidden-xs">Average Resolution Time</th><th class="hidden-xs">Status</th></tr>
  {% if staff | length > 0 %}
    {% for member in staff %}
    <tr>
      <td>{{ member.name }}</td>
      <td>{{ member.resolution.resolved_at.humanize() }}</td>
      <td>{{ member.resolution.inquiry.location }}</td>
      <td class="hidden-xs">{{ member.average }}</td>
      <td class="hidden-xs">{{ member.status }}</td>
    </tr>
    {% endfor %}
  {% endif %}
  </table>
  {% if staff | length == 0 %}
    <p class="queue-note">Staff will be arriving soon.</p>
  {% endif %}
</div>
</section>
{% endblock %}
