<html>
  <head>
    <title>{{ title }}</title>
    <!-- scale mobile version correctly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- third-party code -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:300,400,700|Raleway:300' rel='stylesheet' type='text/css'>
    <!-- custom code -->
    <link rel="stylesheet" href="{{ domain }}{{ the_url('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <div class="col-md-2 col-xs-6 left">
        <h1 class="name">Course<span>Queue</span></h1>
      </div>
    </header>
    <main class="sp-main">
      <section class="sp-module-list module">
        <p class="sf-back"><a href="{{ the_url('queue.home') }}"><span class="sf-back-arr">&larr;</span> back</a></p>
        <h1 class="sp-title">{{ code }}</h1>
        <p class="sp-byline">{{ message | safe }}</p>
        {% if url and action %}
        <a href="{{ url }}" class="button">{{ action }}</a>
        {% endif %}
      </section>
    </main>
    <footer class="authorship col-md-12 col-xs-12">
      <p class="col-md-12 author">programmed by <a href="http://alvinwan.com">Alvin Wan</a> &middot; project on <a href="http://github.com/CS70/ohquu">Github</a></p>
    </footer>
  </body>
</html>
