{% extends "base.html" %}
{% block body %}
  <body class="{{ color or 'blue' }}">
    <header>
      <div class="col-md-2 col-xs-6 left">
        <a href="{{ url_for('public.home') }}"><h1 class="name">Quuu<span>Pod</span><i class="hidden-xs refresh fa fa-refresh fa-spin"></i></h1></a>
      </div>
      <div class="col-md-10 right">
        {% if current_user.is_authenticated %}
        <p class="header-text hidden-xs">Hi, {{ current_user.name }}
          <span class="user-profile">
            <i class="fa fa-user fa-stack-1x"></i>
          </span>
        </p>
        <a class="header-action" href="{{ url_for('logout', redirect=request.path) }}">logout<span class="header-subtext hidden-md hidden-lg hidden-sm">{{ current_user.name }}</span></a>
        <a class="header-action" href="{{ url_for('dashboard.home') }}">Dashboard</a>
        {% else %}
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        {% endif %}
      </div>
    </header>
    <main>
      <div class="banner-cont">
      {% if banner_message %}
      <div class="banner"><p>{{ banner_message | safe}}</p></div>
      {% endif %}
      </div>
      {% block main %}
      {% endblock %}
    </main>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('dashboard.create_queue') }}">
      <div class="mobile-action">
        <span class="ma-add"><i class="fa fa-plus"></i></span>
        <p>Create Queue</p>
      </div>
    </a>
    {% endif %}
    {% include "footer.html" %}
  </body>
{% endblock %}
