<html>
  <head>
    <title>{{ title }}</title>
    <!-- scale mobile version correctly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- third-party code -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="{{ googleclientID }}">
    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!-- custom code -->
    <link rel="stylesheet" href="{{ domain }}{{ url_for('static', filename='style.css') }}">
    <!-- inline scripts -->
    <script>
    $(document).ready(function() {

      /*
       * Poller
       * refreshes an element at a predetermined frequency
       */
      function pollNotification(selector, frequency) {
          setTimeout(function() {
              reload(selector);
              pollNotification(selector, frequency);
          }, frequency);
      }

      // reload part of page by selector
      function reload(selector, url) {
          url = url || window.location.href;
          $('.refresh').css('opacity', 1);
          $.get(url, function(html) {
              console.log(' * Reloading "'+selector+'" from "'+url+'"');
              $(selector).replaceWith($(html).find(selector));
              $('.refresh').css('opacity', 0);
          })
      }

      {% if refresh %}
      pollNotification('.queue', {{ refresh }});
      {% endif %}
    });

    /*
     * Google Authentication
     * Signin or signout on data load
     */
    var forceSignOut = {{ logout or 'false' }};
    function onSignIn(googleUser) {
      if (forceSignOut) {
        signOut();
      } else {
        signIn(googleUser);
      }
    }

    function signIn(googleUser) {
      var id_token = googleUser.getAuthResponse().id_token;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', "/tokenlogin");
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.send('token=' + id_token + '&return={{ current_url() }}');
      xhr.onload = function() {
        if (xhr.status == 200) {
          url = xhr.responseText;
          if (url == '{{ current_url() }}') {
            window.location.reload();
          }
          window.location.replace(url);
        } else {
          alert('Login failed.');
        }
      };
    }

    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        forceSignOut = false;
      });
    }
    </script>
  </head>
  {% block body %}
  {% endblock %}
</html>
