{% extends "base.html" %}
{% block body %}
  <body class="{{ color or 'blue' }}">
    <header>
      <div class="col-md-4 col-xs-6 {% if current_user.can('admin') %}hidden-sm hidden-xs{% endif %} left">
        <a href="{{ the_url('queue.home') }}"><h1 class="name">{{ queue.name }}<span>{{ subtitle }}</span><i class="hidden-xs refresh fa fa-refresh fa-spin"></i></h1></a>
      </div>
      <div class="col-md-8 {% if current_user.can('admin') %}col-sm-12 col-xs-12{% else %}col-sm-6 col-xs-6{% endif %} right">
        {% if current_user.is_authenticated %}
        <p class="header-text hidden-xs">Hi, {{ current_user.name }}
          <span class="user-profile">
            <i class="fa fa-user fa-stack-1x"></i>
          </span>
        </p>
        <a class="header-action" href="/logout?redirect={{ current_url() }}">logout<span class="header-subtext hidden-md hidden-lg hidden-sm">{{ current_user.name }}</span></a>
          {% if current_user.can('admin') %}
            {% if subtitle == 'Admin' %}
        <a class="header-action s" href="#">Admin</a>
        <a class="header-action" href="{{ the_url('queue.home') }}">Queue</a>
            {% else %}
        <a class="header-action" href="{{ the_url('admin.home') }}">Admin</a>
        <a class="header-action s" href="#">Queue</a>
            {% endif %}
          {% else %}
        <a class="header-action" href="{{ the_url('queue.promote') }}">Staff?</a>
          {% endif %}
        {% else %}
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        {% endif %}
      </div>
    </header>
    <main>
      <div class="banner-cont">
      {% if banner_message %}
      <div class="banner"><p>{{ banner_message | safe}}</p></div>
      {% endif %}
      </div>
      {% block main %}
      {% endblock %}
    </main>
    {% if (current_user.is_authenticated or not app_require_login) and not no_mobile_action %}
      {% if current_user.can('help') %}
    <a href="{{ the_url('admin.help') }}">
      <div class="mobile-action">
        <span class="ma-add"><i class="fa fa-medkit"></i></span>
        <p>Start Helping</p>
      </div>
    </a>
      {% else %}
    <a href="{{ the_url('queue.inquiry') }}">
      <div class="mobile-action">
        <span class="ma-add"><i class="fa fa-plus"></i></span>
        <p>Request Help</p>
      </div>
    </a>
      {% endif %}
    {% endif %}
    {% include "footer.html" %}
  </body>
{% endblock %}
