{% extends "base_queue.html" %}
{% set title=title %}
{% block main %}
<main class="sf-main">
  <section class="sf-module-banner module col-md-6">
    <p class="sf-back"><a href="{{ the_url('queue.home') }}"><span class="sf-back-arr">&larr;</span> back</a></p>
    <div class="sf-section-label">
      <h2>{{ title }}</h2>
    </div>
    <form action="{{ current_url() }}" method="POST">
    {% for field in form %}
      <div class="sf-field">
        <label class="sf-label">{{ field.label }}</label>
      {% if field.description %}
        <p class="sf-description">{{ field.description | safe }}</p>
      {% endif %}
      {% for error in form.errors[field.name] %}
        <p style="color:red"><strong>Error!</strong> {{error}}</p>
      {% endfor %}
        {{ field(class_='sf-input-text') }}
      </div>
    {% endfor %}
      <input type="submit" class="form-button" value="{{ submit }}">
    </form>
  </section>
</main>
{% endblock %}
