{% extends "base.html" %}
{% block main %}
<section class="event">
  <div class="col-md-6 event-text">
    <p class="event-byline">Admin</p>
    <h1 class="event-title">Administration Panel</h1>
    <p class="event-copy">Want to get started clearing the queue? Click 'help'. Interested in seeing numbers? Click 'analytics'.</p>
  </div>
  <div class="col-md-6 event-decor">
    <a href="{{ url_for('admin.clear') }}" class="button">Clear Inquiries</a>
    <a href="{{ url_for('admin.help') }}" class="button">Help</a>
    <a href="{{ url_for('admin.settings') }}" class="button">Settings</a>
  </div>
  <nav class="event-nav">
    <ul>
      <li><a class="s" href="#events">Events</a></li>
    </ul>
  </nav>
</section>
<section class="queue">
  <h2 class="queue-title">Events</h2>
  {% if events | length == 0 %}
    <p class="queue-note">No events! <a href="{{ url_for('admin.event_create') }}">Create one now.</a></p>
  {% else %}
  <a href="{{ url_for('admin.event_create') }}" class="button color">Create Assignment</a>
  <table>
    <tr><th>Name</th><th>Start</th><th>End</th><th>Location</th><th>Edit</th></tr>
    {% for event in events %}
    <tr>
      <td><a href="{{ url_for('admin.event_detail', id=event.id) }}">{{ event.name }}</a></td>
      <td>{{ event.start.humanize() }}</td>
      <td>{{ event.end.humanize() }}</td>
      <td>{{ event.location }}</td>
      <td><a href="{{ url_for('admin.event_edit', id=event.id) }}" class="button color xs">edit</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</section>
{% endblock %}
