{% extends "base.html" %}
{% block main %}
<section class="event">
  <div class="col-md-6 event-text">
    <p class="event-byline">Admin</p>
    <h1 class="event-title">Administration Panel</h1>
    <p class="event-copy">Want to get started clearing the queue? Click 'help'. Interested in seeing numbers? Click 'analytics'.</p>
  </div>
  <div class="col-md-6 event-decor">
    <a href="{{ url_for('admin.clear') }}" class="button">Clear Inquiries</a>
    <a href="{{ url_for('admin.help') }}" class="button">Help</a>
    <a href="{{ url_for('admin.analytics') }}" class="button">Analytics</a>
  </div>
  <nav class="event-nav">
    <ul>
      <li><a href="#assignments">Assignments</a></li>
      <li><a href="#events">Events</a></li>
    </ul>
  </nav>
</section>
<section class="queue">
  <h2 class="queue-title">Assignments</h2>
  {% if assignments | length == 0 %}
    <p class="queue-note">No assignments! <a href="{{ url_for('admin.assignment_create') }}">Create one now.</a></p>
  {% else %}
  <table>
    <tr><th>Name</th><th>Is Active</th><th>Edit</th></tr>
    {% for assignment in assignments %}
    <tr>
      <td><a href="{{ url_for('admin.assignment_detail', id=assignment.id) }}">{{ assignment.name }}</a></td>
      <td>{{ assignment.is_active }}</td>
      <td><a href="{{ url_for('admin.assignment_edit', id=assignment.id) }}" class="button color xs">edit</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</section>
{% endblock %}
