{% extends "base.html" %}
{% set title="Assignment %s" % assignment.name %}
{% block main %}
<section class="event">
  <div class="col-md-6 event-text">
    <p class="event-byline"><a href="{{ url_for('staff.home') }}">Admin</a> &raquo; hw0</p>
    <h1 class="event-title">{{ assignment.name }}</h1>
    <p class="event-copy"></p>
  </div>
  <div class="col-md-6 event-decor">
    <a href="{{ url_for('staff.assignment_edit', id=assignment.id) }}" class="button">Edit Assignment</a>
  </div>
  <nav class="event-nav">
    <ul>
      <li><a class="s" href="#">All Problems</a></li>
    </ul>
  </nav>
</section>
<section class="queue">
  <h2 class="queue-title">Problems</h2>
  {% if problems | length == 0 %}
    <p class="queue-note">No problems! <a href="{{ url_for('staff.assignment_edit', id=assignment.id) }}">Add to the assignment's list of problems.</a></p>
  {% else %}
  <table>
    <tr><th>Name</th></th><th>Questions</th></tr>
    {% for problem in problems %}
    <tr>
      <td>{{ problem.name }}</td>
      <td>{{ problem.count }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</section>
{% endblock %}
