<html>
  <head>
    <title>{{ title }}</title>
    <!-- scale mobile version correctly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- third-party code -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    {% if app_google_login %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="{{ googleclientID }}">
    {% endif %}
    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!-- custom code -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- inline scripts -->
    <script>
    $(document).ready(function() {

      /*
       * Poller
       * refreshes an element at a predetermined frequency
       */
      function pollNotification(selector, frequency) {
          setTimeout(function() {
              reload(selector);
              pollNotification(selector, frequency);
          }, frequency);
      }

      // reload part of page by selector
      function reload(selector, url) {
          url = url || window.location.href;
          $.get(url, function(html) {
              console.log(' * Reloading "'+selector+'" from "'+url+'"');
              $(selector).replaceWith($(html).find(selector));
          })
      }

      {% if refresh %}
      pollNotification('.queue', {{ refresh }});
      {% endif %}
    });

    /*
     * Google Authentication
     * Signin or signout on data load
     */
    {% if app_google_login %}
    function onSignIn(googleUser) {
      if ({{ logout or 'false' }}) {
        signOut();
      } else {
        signIn(googleUser);
      }
    }

    function signIn(googleUser) {
      var id_token = googleUser.getAuthResponse().id_token;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', "{{ url_for('public.token_login') }}");
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.send('token=' + id_token);
      xhr.onload = function() {
        window.location.replace(xhr.responseText);
      };
    }

    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        window.location.replace('/');
      });
    }
    {% endif %}
    </script>
  </head>
  <body class="{{ color }}">
    <header>
      <div class="col-md-2 hidden-sm hidden-xs left">
        <a href="{{ url_for('public.home') }}"><h1 class="name">{{ app_name }}<span>{{ subtitle }}</span></h1></a>
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12 right">
        {% if current_user.is_authenticated %}
        <p class="header-text hidden-xs">Hi, {{ current_user.name }}
          <span class="user-profile">
            <i class="fa fa-user fa-stack-1x"></i>
          </span>
        </p>
        <a class="header-action" href="{{ url_for('logout') }}">logout<span class="header-subtext hidden-md hidden-lg hidden-sm">{{ current_user.name }}</span></a>
          {% if current_user.role == 'staff' %}
            {% if subtitle == 'Admin' %}
        <a class="header-action s" href="#">Admin</a>
        <a class="header-action" href="{{ url_for('public.home') }}">Queue</a>
          {% else %}
        <a class="header-action" href="{{ url_for('admin.home') }}">Admin</a>
        <a class="header-action s" href="#">Queue</a>
            {% endif %}
          {% endif %}
        {% else %}
          {% if app_default_login %}
        <a class="header-action" href="{{ url_for('public.login')}}">sign in</a> <a class="header-action"  href="{{ url_for('public.register') }}">sign up</a>
          {% endif %}
          {% if app_google_login %}
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
          {% endif %}
        {% endif %}
      </div>
    </header>
    <main>
      <div class="banner-cont">
      {% if banner_message %}
      <div class="banner"><p>{{ banner_message | safe}}</p></div>
      {% endif %}
      </div>
      {% block main %}
      {% endblock %}
    </main>
    {% if (current_user.is_authenticated or not app_require_login) and not no_mobile_action %}
      {% if current_user.role != 'staff' %}
    <a href="{{ url_for('public.inquiry') }}">
      <div class="mobile-action">
        <span class="ma-add"><i class="fa fa-plus"></i></span>
        <p>Request Help</p>
      </div>
    </a>
      {% elif current_user.role == 'staff' %}
    <a href="{{ url_for('admin.help') }}">
      <div class="mobile-action">
        <span class="ma-add"><i class="fa fa-medkit"></i></span>
        <p>Start Helping</p>
      </div>
    </a>
      {% endif %}
    {% endif %}
    <footer class="authorship col-md-12 col-xs-12">
      <p class="col-md-12 author">programmed by <a href="http://alvinwan.com">Alvin Wan</a> &middot; project on <a href="http://github.com/CS70/ohquu">Github</a></p>
    </footer>
  </body>
</html>
