<html>
  <head>
    <title>{{ title }}</title>
    <!-- scale mobile version correctly -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- third-party code -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    {% if app_google_login %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="{{ googleclientID }}">
    {% endif %}
    <!-- custom code -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- inline scripts -->
    {% if app_google_login %}
    <script>
    function onSignIn(googleUser) {
      if ({{ logout }}) {
        signOut();
      } else {
        signIn(googleUser);
      }
    }
    function signIn(googleUser) {
      var id_token = googleUser.getAuthResponse().id_token;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', "{{ url_for('public.token_login') }}");
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.send('token=' + id_token);
      xhr.onload = function() {
        window.location.replace(xhr.responseText);
      };
    }
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        window.location.replace('/');
      });
    }
    </script>
    {% endif %}
  </head>
  <body class="{{ color }}">
    <header>
      <div class="col-md-2 col-sm-4 hidden-xs left">
        <a href="{{ url_for('public.home') }}"><h1 class="name">{{ app_name }}<span>Queue</span></h1></a>
      </div>
      <div class="col-md-6 col-sm-8 col-xs-12 right">
        {% if current_user.is_authenticated %}
        <p class="header-text">Hi, {{ current_user.name }}
          <span class="user-profile">
            <i class="fa fa-user fa-stack-1x"></i>
          </span>
        </p>
        <a class="header-action" href="{{ url_for('logout') }}">logout</a>
        {% if current_user.role == 'staff' %}
        <a class="header-action" href="{{ url_for('admin.home') }}">Admin</a>
        <a class="header-action" href="{{ url_for('public.home') }}">Queue</a>
        {% endif %}
        {% else %}
        {% if app_default_login %}
        <a class="header-action" href="{{ url_for('public.login')}}">sign in</a> <a class="header-action"  href="{{ url_for('public.register') }}">sign up</a>
        {% endif %}
        {% if app_google_login %}
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        {% endif %}
        {% endif %}
      </div>
    </header>
    <main>
      {% block main %}
      {% endblock %}
    </main>
    <footer>
      <p>by <a href="http://alvinwan.com">Alvin Wan</a></p>
    </footer>
  </body>
</html>
