{% extends "base.html" %}
{% set subtitle=subtitle or 'Queue' %}
{% set title=title %}
{% set no_mobile_action=True %}
{% block main %}
<section class="modules">
  <div class="sidebar">
  </div>
  <div class="col-md-3"></div>
  <div class="content col-md-6">
    <h2 class="content-title">{{ title }}</h2>
    <form class="module" method="POST">
    {% for field in form %}
      <h3>{{ field.label }}</h3>
      {% if field.description %}
      <p>{{ field.description | safe }}</p>
      {% endif %}
      {% for error in form.errors[field.name] %}
        <p style="color:red"><strong>Error!</strong> {{error}}</p>
      {% endfor %}
      {{ field }}
    {% endfor %}
      <input type="submit" class="button color" value="{{ submit }}">
    </form>
  </div>
</section>
{% endblock %}
