{% extends "base.html" %}
{% set title="Queue" %}
{% block main %}
<section class="event">
  <div class="col-md-6 event-text">
    <p class="event-byline">2 - 4 p.m. in Woz Lounge</p>
    <h1 class="event-title">Homework Party</h1>
    <p class="event-copy">Event description goes here in this field right here.</p>
  </div>
  <div class="col-md-6 event-decor">
    {% if not current_user.is_authenticated or current_user.role != 'staff' %}
    <a class="button" href="{{ url_for('public.inquiry') }}">Add Inquiry</a>
    {% endif %}
  </div>
  <nav class="event-nav">
    <ul>
      <li><a class="s" href="#unresolved">unresolved</a></li>
      <li><a href="#resolving">resolving</a></li>
    </ul>
  </nav>
</section>
<section class="queue">
  <h2 class="queue-title">Unresolved</h2>
  {% if unresolved | length == 0 %}
    <p class="queue-note">Queue is empty!</p>
  {% else %}
  <table>
    <tr><th>Name</th><th>Assignment</th><th>Problem</th><th>Question</th><th>Time</th></tr>
    {% for inquiry in unresolved %}
    <tr>
      <td>{{ inquiry.name or inquiry.owner.name }}</td>
      <td>{{ inquiry.assignment.name }}</td>
      <td>{{ inquiry.problem.tag }}</td>
      <td>{{ inquiry.question }}</td>
      <td>{{ inquiry.created_at }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</section>
<section class="queue">
<h2 class="queue-title">Resolving</h2>
  <div class="queue-list">
  {% if resolving | length == 0 %}
    <p class="queue-note">Queue is empty!</p>
  {% else %}
  <table>
    <tr><th>Name</th><th>Assignment</th><th>Problem</th><th>Question</th></tr>
    {% for inquiry in resolving %}
  <li>{{ inquiry.name or inquiry.owner.name }} ({{ inquiry.assignment.name }} - {{ inquiry.problem.tag }}) {{ inquiry.question }}</li>
    {% endfor %}
  </table>
  {% endif %}
  </div>
</section>
{% endblock %}
