{% extends "base.html" %}
{% block main %}
<section class="event">
  <div class="col-md-6 event-text">
    <p class="event-byline">Staff only</p>
    <h1 class="event-title">Administration Panel</h1>
    <p class="event-copy">Want to get started clearing the queue? Click 'help'. Interested in seeing numbers? Click 'analytics'.</p>
  </div>
  <div class="col-md-6 event-decor">
    <a href="{{ url_for('staff.clear') }}" class="button">Clear all unfinished inquiries</a>
  </div>
  <nav class="event-nav">
    <ul>
      <li><a href="{{ url_for('staff.analytics') }}">View Analytics</a></li>
      <li><a href="{{ url_for('staff.help') }}">Help</a></li>
    </ul>
  </nav>
</section>
<section class="queue">
  <h2 class="queue-title">Assignments</h2>
  {% if unresolved | length == 0 %}
    <p class="queue-note">No assignments! <a href="{{ url_for('staff.create_assignment') }}">Create one now.</a></p>
  {% else %}
  <table>
    <tr><th>Name</th><th>Assignment</th><th>Problem</th><th>Question</th><th>Time</th></tr>
    {% for inquiry in unresolved %}
    <tr>
      <td>{{ inquiry.name or inquiry.owner.name }}</td>
      <td>{{ inquiry.assignment.name }}</td>
      <td>{{ inquiry.problem.tag }}</td>
      <td>{{ inquiry.question }}</td>
      <td>{{ inquiry.created_at }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</section>
{% endblock %}
